#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  margin: 0 auto;
  background: lightgray;
  max-width: 50%;
  padding: 5px;
}

.display {
  background: #ffee;
  padding: 0.5rem;
}

.result-display {
  margin-bottom: 1rem;
}

.display-item {
  text-align: right;
}
