.buttons-container {
  display: flex;
  flex-wrap: wrap;
}

.single-button {
  flex-basis: 23%;
  background-color: #6c798b;
  margin: 1%;
  height: 60px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.single-button:hover {
  font-weight: 700;
}

.clear {
  flex-basis: 48%;
  background-color: #7A3A3A;
  color: #E6E1E1;
  font-weight: 700;
  text-transform: uppercase;
}

.clear:hover {
  text-shadow: 0 0 0.3rem #000, 0 0 0.3rem #000;
}

#equal {
  font-weight: 800;
  background-color: #5C5757;
  color: #E6E1E1;
}

#equal:hover {
  color: #aa9f9f;
}

.single-button:active {
  transform: translateY(3px);
}
